[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=2

[{*.sht,*.htm,*.html,*.shtm,*.shtml,*.ng}]
indent_style=space
indent_size=4

[{*.mod,*.dtd,*.ent,*.elt}]
indent_style=space
indent_size=4

[{*.jhm,*.xjb,*.rng,*.wsdl,*.fxml,*.plan,*.pom,*.xslt,*.jrxml,*.ant,*.xul,*.xsl,*.xsd,*.tld,*.jnlp,*.wsdd,*.wadl,*.xml}]
indent_style=space
indent_size=4

[*.java]
indent_style=space
indent_size=4

[*.css]
indent_style=space
indent_size=4

[{messages.*,messages,spring.schemas,spring.handlers,*.properties}]
indent_style=space
indent_size=4

[{*.vsl,*.vm,*.ft}]
indent_style=space
indent_size=4

[.editorconfig]
indent_style=space
indent_size=4

[{*.cjs,*.js}]
indent_style=space
indent_size=4

