
<p>Regular Paragraph Text</p>

<p><em>Italicized Paragraph Text</em></p>

<p><strong>Bold Paragraph Text</strong></p>

<p>
	Regular Paragraph Text before a break
<br>
	Regular Paragraph Text after a break
</p>
