
<h1 class="font--light">Lato Light</h1>

<h1 class="font--light-italic">Lato Light Italic</h1>

<h1 class="font--regular">Lato Regular</h1>

<h1 class="font--italic">Lato Italic</h1>

<h1 class="font--bold">Lato Bold</h1>

<h1 class="font--bold-italic">Lato Bold Italic</h1>

<h1 class="font--black">Lato Black</h1>

<h1 class="font--black-italic">Lato Black Italic</h1>