{{!--

Button

- style (string, optional): Determines button style. Available styles are "primary", "secondary", "success", "danger", "warning", "info", "light", "dark", and "link".
- href (string): The href of the buttton
- outline (boolean): Whether the button should be displayed with a color outline.
- block (boolean): Whether the button should fill all horizontal space.
- size (string, optional): Changes the button size. Availavle values are "small" and "large".

--}}<a role="button" href="{{href}}" class="btn{{#if outline}}{{#eq style "primary"}} btn-outline-primary{{/eq}}{{#eq style "secondary"}} btn-outline-secondary{{/eq}}{{#eq style "success"}} btn-outline-success{{/eq}}{{#eq style "danger"}} btn-outline-danger{{/eq}}{{#eq style "warning"}} btn-outline-warning{{/eq}}{{#eq style "info"}} btn-outline-info{{/eq}}{{#eq style "light"}} btn-outline-light{{/eq}}{{#eq style "dark"}} btn-outline-dark{{/eq}}{{#eq style "link"}} btn-link{{/eq}}{{else}}{{#eq style "primary"}} btn-primary{{/eq}}{{#eq style "secondary"}} btn-secondary{{/eq}}{{#eq style "success"}} btn-success{{/eq}}{{#eq style "danger"}} btn-danger{{/eq}}{{#eq style "warning"}} btn-warning{{/eq}}{{#eq style "info"}} btn-info{{/eq}}{{#eq style "light"}} btn-light{{/eq}}{{#eq style "dark"}} btn-dark{{/eq}}{{#eq style "link"}} btn-link{{/eq}}{{/if}}{{#eq size "small"}} btn-sm{{/eq}}{{#eq size "large"}} btn-lg{{/eq}}{{#if block}} btn-block{{/if}}">{{text}}</a>